.dialog{
  margin: auto auto 20px;
  vertical-align: center;
  text-align: center;
}
h1{
  margin: 0;
  padding: 0;
}
.dialog mat-form-field{
  width: 100%;
  margin: 5px 0;
}

div[mat-dialog-actions]{
  text-align: center;
}

span.login-error{
  color: red;
}
