mat-toolbar>h1{
  margin: 0 10px;
}
table{width: 100%;}
mat-sidenav-container{ height: 100%; }
mat-toolbar.tab-title{
  background: white;
}

mat-toolbar a{
  color: white;
  text-decoration: none;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.active-link{
  background: #e1e1e1;
  border-bottom: 3px solid #3F51B5;
  transition: .1s;
  box-sizing: border-box;
}
.active-link-sidenav{
  border-left: 5px solid #3F51B5;
  transition: .1s;
  box-sizing: border-box;
}
