mat-toolbar>h1{
  margin: 0 10px;
}
table{width: 100%;}
mat-sidenav-container{ height: 100%; }
mat-toolbar.tab-title{
  background: white;
}

mat-toolbar>a{
  color: white;
  text-decoration: none;
}
