<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleForMenuClick()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>{{title}}</h1>
</mat-toolbar>

<mat-sidenav-container>
  <!-- ************************* SIDENAV ********************-->
  <mat-sidenav #sidenav opened mode="side" position="start">
    <div class="container">
      <mat-nav-list>
        <mat-list-item>Applicazioni Internet</mat-list-item>
        <mat-list-item>Programmazione di Sistema</mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <!-- ************************* SIDENAV CONTENT********************-->
  <mat-sidenav-content>
    <mat-toolbar color="">Applicazioni Internet</mat-toolbar>
    <mat-tab-group>
      <mat-tab label="Studenti">
        <app-students></app-students>
      </mat-tab>

      <mat-tab label="Gruppi">
        <div class="container">
          <h1>Gruppi Applicazioni Internet</h1>
        </div>
      </mat-tab>
    </mat-tab-group>

  </mat-sidenav-content>
</mat-sidenav-container>


