<mat-toolbar color="primary">
  <mat-toolbar-row class="mat-elevation-z8">
    <button mat-icon-button (click)="toggleForMenuClick()">
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/home">{{title}}</a>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <button mat-button routerLink="/home" [queryParams]="authQueryParams()">
      <mat-icon>{{getButtonTitle().toLowerCase()}}</mat-icon>
      {{getButtonTitle()}}
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span>Applicazioni Internet</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container autosize>
  <!-- ************************* SIDENAV ********************-->
  <mat-sidenav #sidenav opened mode="side" position="start">
    <div class="container">
      <mat-nav-list>
        <mat-list-item routerLink="/teacher/course/applicazioni-internet/students"
                       [ngClass]="{'active-link-sidenav': studentsTab.isActive || vmsTab.isActive}">
          Applicazioni Internet
        </mat-list-item>
        <mat-list-item routerLink="/teacher/course/programmazione-di-sistema/students"
        routerLinkActive="active-link-sidenav">
          Programmazione di Sistema
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <!-- ************************* SIDENAV CONTENT********************-->
  <mat-sidenav-content>
    <!--
    <mat-tab-group>
      <mat-tab label="Studenti">
        <app-students-cont></app-students-cont>
      </mat-tab>

      <mat-tab label="Gruppi">
        <div class="container">
          <h1>Gruppi Applicazioni Internet</h1>
        </div>
      </mat-tab>
    </mat-tab-group>
   -->
    <nav mat-tab-nav-bar>
      <a #studentsTab="routerLinkActive" mat-tab-link routerLink="teacher/course/applicazioni-internet/students" routerLinkActive="active-link" [active]="studentsTab.isActive">
        <span [matBadgeHidden]="getBadgeNumber() <= 0" [matBadge]="getBadgeNumber().toString()"
              matBadgeOverlap="false" matBadgeColor="warn" matBadgePosition="before">&nbsp;
          Studenti
        </span>
      </a>
      <a #vmsTab="routerLinkActive" mat-tab-link routerLink="teacher/course/applicazioni-internet/vms" routerLinkActive="active-link" [active]="vmsTab.isActive">VMs</a>
    </nav>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


